<h1>{{title}}</h1>

{{#if reviews.length}}
  <table>
    <thead>
      <tr>
        <th>Album Title</th>
        <th>Album Artist</th>
        <th>Genre</th>        
        <th>Year</th>
        <th>Rating</th>
        <th>Review</th>
      </tr>
    </thead>
    <tbody>
      {{#each reviews}}
        <tr>
          <td>{{this.albumCover}}</td>
          <td>{{this.albumTitle}}</td>
          <td>{{this.albumArtist}}</td>
          <td>{{this.year}}</td>
          <td>{{this.rating}}</td>
          <td>{{this.review}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
{{else}}
  <p>No reviews added yet.</p>
{{/if}}

<p><a href="/">Back to All Album Reviews</a></p>