<h1>{{title}}</h1>

{{#if reviews.length}}
  <table>
    <thead>
      <tr>
        <th>Course Number</th>
        <th>Course Name</th>
        <th>Semester</th>
        <th>Year</th>
        <th>Professor</th>
        <th>Review</th>
      </tr>
    </thead>
    <tbody>
      {{#each reviews}}
        <tr>
          <td>{{this.courseNumber}}</td>
          <td>{{this.courseName}}</td>
          <td>{{this.semester}}</td>
          <td>{{this.year}}</td>
          <td>{{this.professor}}</td>
          <td>{{this.review}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
{{else}}
  <p>No reviews added yet.</p>
{{/if}}

<p><a href="/">Back to All Reviews</a></p>