<h1 class="welcome">AK's Reviews</h1>

<div>
    <form action="/" method="GET">
        <label for="albumTitle">Album Title:</label>
        <input type="text" id="albumTitle" name="albumTitle">
        <label for="albumArtist">Album Artist:</label>
        <input type="text" id="albumArtist" name="albumArtist">
        <label for="genre">Genre:</label>
        <input type="text" id="genre" name="genre">
        <label for="year">Year:</label>
        <input type="number" id="year" name="year">
        <label for="rating">Rating:</label>
        <input type="text" id="rating" name="rating">
        <button type="submit">Search</button>
    </form>
</div>

<table>
    <thead>
        <tr>
            <th>Album Name</th>
            <th>Album Artist</th>
            <th>Genre</th>
            <th>Year</th>
            <th>Rating</th>
            <th>Review</th>
        </tr>
    </thead>
    <tbody>
        {{#each reviews}}
        <tr>
            <td>{{this.albumTitle}}</td>
            <td>{{this.albumArtist}}</td>
            <td>{{this.genre}}</td>
            <td>{{this.year}}</td>
            <td>{{this.rating}}</td>
            <td>{{this.review}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>
